<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Menu principal</li>
            <li class="active treeview">
                <a href="/">
                    <i class="fa fa-th"></i> <span>Início</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/admin/messages">
                    <i class="fa fa-envelope"></i>
                    <span>Caixa de mensagens</span>
                    <span class="label label-success pull-right">2</span>
                </a>
            </li>
            <li>
                <a href="/questions/">
                    <i class="fa fa-question-circle"></i>
                    <span>Perguntas</span>
                </a>
            </li>
            <li>
                <a href="/discusses/">
                    <i class="fa fa-bullhorn"></i>
                    <span>Discussões</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/rank">
                    <i class="fa fa-code"></i>
                    <span>Rank</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>