<header class="main-header">
    <!-- Logo -->
    {% block pagename %}
    <a href="/" class="logo"><b>TutorShip Portal</b></a>
    {% endblock %}
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
{#                {% if _logged_user %}#}
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
{#                {% endif %}#}
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% macro select_tabs(tab='') %}
                    {% if _logged_user or 1 %}
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-search"></i>
                            </a>
                            <ul class="dropdown-menu search-div" id="search_div">
                                <li class="header">Pesquisa por questões/publicações</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <typeahead items="items" urlreq="/static/json/states.json" prompt="Start typing a US state" title="name" subtitle="abbreviation" model="name" on-select="onItemSelected()"></typeahead>
                                        </li><!-- end message -->
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown messages-menu">
                            <a href="/discusses/new/" class="dropdown-toggle">
                                <i class="fa fa-share"></i>
                                <span class="hidden-xs">Publicar</span>
                            </a>
                        </li>
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="modal" data-target="#question-modal">
                                <i class="fa fa-plus-circle"></i>
                                <span class="hidden-xs">Adicionar um pergunta</span>
                            </a>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
{#                        <li class="dropdown notifications-menu">#}

                            <notification post-url="/notifications/rest/" notification-url="/admin/notifications"></notification>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/static/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"/>
                                <span class="hidden-xs">Fulano</span>
{#                                <span class="hidden-xs">{{ _logged_user.name }}</span>#}
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                    <p>
                                        Fulano
{#                                        {{ _logged_user.name }}#}
{#                                        <small>Member since {{ _logged_user.creation.strftime('%B, %Y') }}</small>#}
                                        <small>Membro desde Fevereiro, 2015</small>
                                        <small>Desenvolvedor</small>
                                    </p>
                                </li>
{#                                <!-- Menu Body -->#}
{#                                <li class="user-body">#}
{#                                    <div class="col-xs-4 text-center">#}
{#                                        <a href="#">Followers</a>#}
{#                                    </div>#}
{#                                    <div class="col-xs-4 text-center pull-right">#}
{#                                        <a href="#">Friends</a>#}
{#                                    </div>#}
{#                                </li>#}
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/admin/profile" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/logout/" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/static/img/login.png" class="user-image" alt="User Image"/>
                                <span class="hidden-xs">Fazer login</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header social-login">
                                    <form class="form-row">
                                        {{ form_input('Email', 'email', 'email', '', '') }}
                                        {{ form_input('Password', 'password', 'password', '', '') }}
                                        <button class="btn btn-warning btn-flat btn-block">Enviar</button>
                                    </form>
                                    <div class="form-row social-margin">
                                        <a href="{{ login_google_path }}" class="btn btn-social btn-google-plus btn-block"><i
                                            class="fa fa-google-plus"></i>Google</a>
                                    </div>
                                    <div class="form-row social-margin">
                                        <button class="btn btn-social btn-facebook btn-block" onclick="fb_login();">
                                            <i class="fa fa-facebook"></i>
                                            Facebook
                                        </button>
                                        <form id="fbform" action="{{ login_facebook_path }}" method="post">
                                            {{ csrf_input() }}
                                            <input id="tokeninput" type="hidden" name="token"/>
                                        </form>
                                    </div>
                                    <p class="text-center" style="color: black;">ou</p>
                                    <div class="form-row social-margin">
                                        <a href="/" class="btn btn-link">Esqueceu Senha?</a>
                                        <a href="/" class="btn btn-success">Cadastrar</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% endmacro %}
                {% block tabs %}
                    {{ select_tabs() }}
                {% endblock %}
            </ul>
        </div>
    </nav>
</header>
