<div class="nav-tabs-custom">}
    <ul class="nav nav-tabs pull-right ui-sortable-handle">
        <li class="pull-left header padding-bottom"><a href="/rank" style="color: #444 !important; padding: 0 !important;">Rank</a></li>
    </ul>
    <div class="tab-content">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th></th>
                    <th colspan="2">Nome</th>
                    <th>Pontos</th>
                </tr>
                <tbody class="table-tbody-scroll">
                <tr onclick="window.location='/';" class="user-description">
                    <td class="col-md-1 fixed-size text-padded text-center">
                        1
                    </td>
                    <td class="col-md-2 image-td-person">
                        <img class="image-td-lesson" src="/static/dist/img/avatar5.png">
                    </td>
                    <td class="col-md-6 text-padded">
                        Fulano 1
                    </td>
                    <td class="col-md-2 text-padded fixed-size">
                        11232
                    </td>
                </tr>
                <tr onclick="window.location='/';" class="user-description">
                    <td class="col-md-1 fixed-size text-padded text-center">
                        2
                    </td>
                    <td class="col-md-2 image-td-person">
                        <img class="image-td-lesson" src="/static/dist/img/avatar5.png">
                    </td>
                    <td class="col-md-6 text-padded">
                        Fulano 2
                    </td>
                    <td class="col-md-2 text-padded fixed-size">
                        11201
                    </td>
                </tr>
                <tr onclick="window.location='/';" class="user-description">
                    <td class="col-md-1 fixed-size text-padded text-center">
                        3
                    </td>
                    <td class="col-md-2 image-td-person">
                        <img class="image-td-lesson" src="/static/dist/img/avatar5.png">
                    </td>
                    <td class="col-md-6 text-padded">
                        Fulano 3
                    </td>
                    <td class="col-md-2 text-padded fixed-size">
                        10995
                    </td>
                </tr>
                <tr onclick="window.location='/';" class="user-description">
                    <td class="col-md-1 fixed-size text-padded text-center">
                        4
                    </td>
                    <td class="col-md-2 image-td-person">
                        <img class="image-td-lesson" src="/static/dist/img/avatar5.png">
                    </td>
                    <td class="col-md-6 text-padded">
                        Fulano 4
                    </td>
                    <td class="col-md-2 text-padded fixed-size">
                        10905
                    </td>
                </tr>
                <tr onclick="window.location='/';" class="user-description">
                    <td class="col-md-1 fixed-size text-padded text-center">
                        5
                    </td>
                    <td class="col-md-2 image-td-person">
                        <img class="image-td-lesson" src="/static/dist/img/avatar5.png">
                    </td>
                    <td class="col-md-6 text-padded">
                        Fulano 5
                    </td>
                    <td class="col-md-2 text-padded fixed-size">
                        10900
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>