.teach-content {
    width: 80% !important;
}

.news-box-display {
    height: 160px !important;
}

.news-box-display .small-box-footer {
    padding: 14px 0 !important;
}

.inner .image-lesson-description {
    width: 60%;
}