.teach-content {
    width: 80% !important;
}

.content-min {
    min-height: 17px;
    padding-bottom: 0 !important;
}

.title-box-adjust {
    padding-left: 0;
    padding-bottom: 5px;
}

.news-box-display {
    height: 160px !important;
}

.news-box-display .small-box-footer {
    padding: 14px 0 !important;
}

.inner .image-lesson-description {
    height: 100%;
    width: 100%;
}

.social-margin {
    margin-top: 10px !important;
}

.social-login {
    height: 100% !important;
    background-color: #fff !important;
}