.teach-content {
    width: 80% !important;
}

.content-min {
    min-height: 17px;
    padding-bottom: 0 !important;
}

.title-box-adjust {
    padding-left: 0;
    padding-bottom: 5px;
}

.news-box-display {
    height: 160px !important;
}

.news-box-display .small-box-footer {
    padding: 14px 0 !important;
}

.inner .image-lesson-description {
    /*height: 100%;*/
    height: 77px;
    width: 100%;
}

.social-margin {
    margin-top: 10px !important;
}

.social-login {
    height: 100% !important;
    background-color: #fff !important;
}

.image-td-person {
    width: 12% !important;
}

.image-td-lesson {
    width: 30px !important;
}

.small-box:hover {
    color: #333;
}

.box-yourself-lessons {
    overflow: scroll !important;
    overflow-x: hidden !important;
}

.todo-image {
    margin-left: 20% !important;
    width: 282px !important;
    height: 282px !important;
}

.table-tbody-scroll {
    overflow-y: scroll !important;
}

@media (min-width: 100px) and (min-height: 200px){
    .box-yourself-lessons {
        overflow-x: hidden !important;
    }
}

.views-label {
    position: relative;
    margin-top: 10px;
}

.table-tbody-scroll tr:hover {
    cursor: pointer !important;
    /*background-color: red !important;*/
}

.pad-top {
    padding-top: 15px;
}

.publisher {
    line-height: 30px;
    padding-left: 10px;
    font-size: 12px;
}

.publisher img {
    width: 30px;
}

.fixed-size {
    width: 47px !important;
}

.margin-icon {
    margin-right: 5px;
}

.padding-bottom {
    padding-bottom: 5px !important;
}

.text-padded {
    padding-top: 12px !important;
}

.title-profile{
    display: block;
}

.force-margin {
    margin-top: 15px !important;
}

.recent-activity {
    width: 40px !important;
}

.search-activity {
    width: 80px !important;
}

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

.search-div {
    width: 330px !important;
    height: auto !important;
}

.search-div .slimScrollDiv {
    height: auto !important;
}

.search-div .menu {
    height: auto !important;
    max-height: 400px !important;
}

.hover-show:hover {
    background-color: #ddd7d2;
}