{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{% block js %}
    <script>
        function listQuestionController($scope, $http) {
            $scope.searching = true;
            $http.post("/questions/rest/", {}).success(function(data){
                $scope.questions = data;
            }).error(function(e){
                $scope.questions = [];
            }).finally(function(f) {
                $scope.searching = false;
            });
{#            $scope.questions = {{ questions|safe or [] }};#}
            $scope.loggedUser = {
                id: {{ _logged_user.key.id() or "" }},
                email: "{{ _logged_user.email or '' }}"
            };
        }
    </script>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header">
            <h1>

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
                <li class="active">Questões</li>
            </ol>
        </section>

        <section class="content content-min">
            <div class="row">
                <div class="hidden-xs hidden-sm" style="height: 20px !important;"></div>
                <section class="col-md-8 col-md-offset-2">
                    <div ng-controller="listQuestionController">
                        <img src="/static/img/ajax.gif" ng-show="searching" alt=""/>
                        <question ng-repeat="q in questions" question="q" logged-user="loggedUser" questions="questions"></question>
                    </div>
                </section>
            </div>
        </section>
    </div> <!-- div content-wrapper -->
{% endblock %}