{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{#{% block body_class %}#}
{#sidebar-collapse sidebar-open#}
{#{% endblock %}#}

{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header">
            <h1>

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
                <li class="active">Questões</li>
            </ol>
        </section>

    <!-- Modal Comment Question-->
        <div class="modal fade" id="commentQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Lorem ipsu?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 panel">
                            <textarea class="form-control" rows="3" placeholder="Deixa um comentário"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary">Comentar</button>
                    </div>
                </div>
            </div>
        </div> <!-- end question modal -->

        <section class="content content-min">
            <div class="row">
                <section class="col-md-8 col-md-offset-2">
                    {% if questions %}
                        {% for question in questions %}
                        <div class="nav-tabs-custom">
                            <!-- Tabs within a box -->
                            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                <li class="pull-left header padding-bottom">{{ question['name'] }}?</li>
                            </ul>
                            <div class="publisher">
                                <img src="/static/dist/img/user2-160x160.jpg">
                                <span style="padding-left: 10px;"><b>Fulano</b></span>
{#                                <span style="padding-left: 10px;"><b>{{ question['publisher']['name'] }}</b></span>#}
                                <span class="pull-right" style="padding-right: 20px;">Ha x tempo</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-md-12">
                                </div>
                                <div class="box-footer clearfix no-border">
                                    <a href="#" class="btn btn-link pull-right" data-toggle="modal" data-target="#commentQuestionModal"><i class="fa fa-comment margin-icon"></i>Responder</a>
                                    <a href="{{ question_path }}/{{ question['id'] }}" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Ver mais</a>
                                    <a href="#" id="recommend_btn" class="btn btn-link pull-right"><i class="fa fa-fire margin-icon"></i>Recomendar</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </section>
            </div>
        </section>
    </div> <!-- div content-wrapper -->
{% endblock %}