{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{#{% block body_class %}#}
{#sidebar-collapse sidebar-open#}
{#{% endblock %}#}

{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header">
            <h1>

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
                <li class="active">Questões</li>
            </ol>
        </section>

        <section class="content content-min">
            <div class="row">
                <section class="col-md-8 col-md-offset-2">
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right ui-sortable-handle">
                            <li class="pull-left header padding-bottom">Question Lorem Ipsum?</li>
                        </ul>
                        <div class="publisher">
                            <img src="/static/dist/img/user2-160x160.jpg">
                            <span style="padding-left: 10px;"><b>Fulano</b></span>
                            <span class="pull-right" style="padding-right: 20px;">Publicado a 12min</span>
                        </div>
                        <div class="tab-content">
                            <div class="box-footer clearfix no-border">
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-fire margin-icon"></i>Recomendar</a>
                            </div>
                        </div>
                    </div>
                    {% include 'base/comment.html' %}
                    <div class="col-md-12">
                        <h2 class="page-header">Comentários</h2>
                        <section class="comment-list">
                            <!-- First Comment -->
                            <article class="row">
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <figure class="thumbnail">
                                        <img class="img-responsive" src="/static/dist/img/avatar2.png" />
                                        <figcaption class="text-center">username</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <div class="panel panel-default arrow left">
                                        <div class="panel-body">
                                            <header class="text-left">
                                                <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                                                <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                                            </header>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                            <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Second Comment Reply -->
                            <article class="row">
                                <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0 hidden-xs">
                                    <figure class="thumbnail">
                                        <img class="img-responsive" src="/static/dist/img/avatar.png" />
                                        <figcaption class="text-center">username</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="panel panel-default arrow left">
                                        <div class="panel-heading right">Reply</div>
                                        <div class="panel-body">
                                            <header class="text-left">
                                                <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                                                <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                                            </header>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                            <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Third Comment -->
                            <article class="row">
                                <div class="col-md-10 col-sm-10">
                                    <div class="panel panel-default arrow right">
                                        <div class="panel-body">
                                            <header class="text-right">
                                                <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                                                <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                                            </header>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                            <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <figure class="thumbnail">
                                        <img class="img-responsive" src="/static/dist/img/avatar3.png" />
                                        <figcaption class="text-center">username</figcaption>
                                    </figure>
                                </div>
                            </article>
                            <!-- Fourth Comment -->
                            <article class="row">
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <figure class="thumbnail">
                                        <img class="img-responsive" src="/static/dist/img/avatar04.png" />
                                        <figcaption class="text-center">username</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="panel panel-default arrow left">
                                        <div class="panel-body">
                                            <header class="text-left">
                                                <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                                                <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                                            </header>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                            <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Fifth Comment -->
                            <article class="row">
                                <div class="col-md-10 col-sm-10">
                                    <div class="panel panel-default arrow right">
                                        <div class="panel-body">
                                            <header class="text-right">
                                                <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                                                <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                                            </header>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                            <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <figure class="thumbnail">
                                        <img class="img-responsive" src="/static/dist/img/avatar5.png" />
                                        <figcaption class="text-center">username</figcaption>
                                    </figure>
                                </div>
                            </article>
                            <!-- Sixth Comment Reply -->
                            <article class="row">
                                <div class="col-md-9 col-sm-9 col-md-offset-1 col-md-pull-1 col-sm-offset-0">
                                    <div class="panel panel-default arrow right">
                                        <div class="panel-heading">Reply</div>
                                        <div class="panel-body">
                                            <header class="text-right">
                                                <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                                                <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                                            </header>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                            <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-md-pull-1 hidden-xs">
                                    <figure class="thumbnail">
                                        <img class="img-responsive" src="/static/dist/img/avatar.png" />
                                        <figcaption class="text-center">username</figcaption>
                                    </figure>
                                </div>
                            </article>
                        </section>
                    </div>
                </section>
            </div>
        </section>
    </div> <!-- div content-wrapper -->
{% endblock %}