{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{% block js %}
    <script src="/static/comments/js/comment.js"></script>
    <script>
        function commentController($scope, $window, $http) {
            $scope.comment = {post: {{ question['id'] }}, type: "Q"};
            $scope.commentList = {{ comments|safe }};
            $scope.loggedUser = {
                id: {{ _logged_user.key.id() }},
                email: "{{ _logged_user.email }}"
            };
            console.log($scope.loggedUser);
            angular.element($window).bind("scroll", function() {
                var windowHeight = "innerHeight" in window ? window.innerHeight : document.documentElement.offsetHeight;
                var body = document.body, html = document.documentElement;
                var docHeight = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight,  html.scrollHeight, html.offsetHeight);
                windowBottom = windowHeight + window.pageYOffset;
                if (windowBottom >= docHeight) {
                    console.log("baixando");
{#                    $http.post("{{ comment_list }}", {}).success(function(data){#}
{#                        console.log(data);#}
{#                        $scope.commentList = data;#}
{#                        $scope.$apply('usercomment');#}
{#                    });#}
                }
            });


            removeComment = function() {
                console.log("Parent");
            }
        }
    </script>
{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header">
            <h1>

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
                <li class="active">Questões</li>
            </ol>
        </section>

        <section class="content content-min" ng-controller="commentController">
            <div class="row">
                <div class="hidden-xs hidden-sm" style="height: 20px !important;"></div>
                <section class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ question['name'] }}</h3>
                        </div>
                        <div class="publisher">
                            <img src="/static/dist/img/user2-160x160.jpg">
                            <span style="padding-left: 10px;"><b>{{ question['publisher'].name }}</b></span>
                            <span class="pull-right" style="padding-right: 20px;">{{ question['creation'] }}</span>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-fire margin-icon"></i>Recomendar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 panel">
                        <docomment comment="comment" post-url="{{ comment_url }}" comment-list="commentList"></docomment>
                    </div>

                    <div class="col-md-12">
                        <h2 class="page-header">Comentários</h2>
                        <section class="comment-list">
                            <usercomment ng-repeat="c in commentList" comment="c" logged-user="loggedUser"></usercomment>
                        </section>
                    </div>
                </section>
            </div>
        </section>
    </div> <!-- div content-wrapper -->
{% endblock %}