{% extends 'comments/comment_base.html' %}
{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header col-md-offset-2">
            <h1>

            </h1>
            <ol class="breadcrumb">
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Página inicial</a></li>
            </ol>
        </section>

        <section class="content content-min">
            <div class="row">
                <section class="col-md-8 col-md-offset-2">
                    {% set comment=comment or None %}
                    {% set errors=errors or None %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <br/>

                                <div class="well">
                                    <h1 class="text-center">{% trans %}Comment Form{% endtrans %}</h1>

                                    <form action="{{ save_path }}" method="post" role="form">
                                        {{ csrf_input() }}
                                        {{ form_input(_('Content'),'content',comment.content,errors.content) }}
                                        <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>

{% endblock %}