<div class="input-group">
    <input type="text" name="q" ng-model="model" ng-blur="cleanField()" ng-change="dispatchSearch()" class="form-control" placeholder="{[ prompt ]}" ng-keydown="selected=false" />
        <span class="input-group-btn">#}
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
</div>
<div class="col-md-12" style="margin-left: -15px !important;">
    <div class="items box" style="background-color: #fff; position:relative; z-index: 1000;" ng-hide="!model.length || selected">
        <div class="item"  ng-repeat="item in items | filter:model  track by $index" ng-click="handleSelection(item[title])" style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="/static/dist/img/user2-160x160.jpg" class="media-object search-activity" alt="Sample Image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Fulano <small><i>fez uma pergunta em 20 de Janeiro de 2014</i></small></h4>
                    <p>Lorem ipsum ipsi?</p>
                </div>
            </div>
        </div>
    </div>
</div>