{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Últimas aulas
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content content-min">
            <div class="row">
                <div class="col-lg-2 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <img src="/static/img/python.jpg" class="image-lesson-description">
                        </div>
                        <a href="#" class="small-box-footer">Title Lesson/Video</a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-2 col-xs-6">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <img src="/static/img/python.jpg" class="image-lesson-description">
                        </div>
                        <a href="#" class="small-box-footer">Title Lesson/Video <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-2 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <img src="/static/img/python.jpg" class="image-lesson-description">
                        </div>
                        <a href="#" class="small-box-footer">Title Lesson/Video <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-2 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <img src="/static/img/python.jpg" class="image-lesson-description">
                        </div>
                        <a href="#" class="small-box-footer">Title Lesson/Video <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-2 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <img src="/static/img/python.jpg" class="image-lesson-description">
                        </div>
                        <a href="#" class="small-box-footer">Title Lesson/Video <i class="fa fa-arrow-circle-right"></i></a>
                    </div>                </div><!-- ./col -->
                <div class="col-lg-2 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <img src="/static/img/python.jpg" class="image-lesson-description">
                        </div>
                        <a href="#" class="small-box-footer">Title Lesson/Video <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
            </div>
        </section><!-- /.content -->

        <!-- News Content -->
        <section class="content content-min">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content-header title-box-adjust">
                        <h1 style="">
                            Seus últimos envios
                        </h1>
                    </div>
                    <div class="small-box box-yourself-lessons">
                        <div class="inner">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody class="table-tbody-scroll">
                                        <tr onclick="window.location='/';">
                                            <td class="col-md-2 image-td-person">
                                                <img class="image-td-lesson" src="/static/dist/img/avatar5.png">
                                            </td>
                                            <td class="col-md-10 row-fixed">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
                                                <span class="badge views-label pull-right">+100 comments</span>
                                            </td>
                                        </tr>
                                        <tr onclick="window.location='/';">
                                            <td class="col-md-2 image-td-person">
                                                <img class="image-td-lesson" src="/static/dist/img/avatar5.png">
                                            </td>
                                            <td class="col-md-10 row-fixed">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
                                                <span class="badge views-label pull-right">+100 comments</span>
                                            </td>
                                        </tr>
                                        <tr onclick="window.location='/';">
                                            <td class="col-md-2 image-td-person">
                                                <img class="image-td-lesson" src="/static/dist/img/avatar5.png">
                                            </td>
                                            <td class="col-md-10 row-fixed">
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
                                                <span class="badge views-label pull-right">+100 comments</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-header title-box-adjust">
                        <h1 style="">
                            Próximos
                        </h1>
                    </div>
                    <div class="small-box">
                        <div class="inner">
                            <img src="/static/img/todo.png" class="todo-image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- /.content-wrapper -->
    <!--pac.zscaler.net/centropaulasouza.sp.gov.br/cpsouza.pac-->
{% endblock %}