<article class="row">
    <div class="col-md-2 col-sm-2 hidden-xs">
        <figure class="thumbnail">
            <img class="img-responsive" src="/static/dist/img/avatar2.png" />
            <figcaption class="text-center">{[ comment.publisher.name|cut:true:10 ]}</figcaption>
        </figure>
    </div>
    <div class="col-md-10 col-sm-10">
        <div class="panel panel-default arrow left">
            <div class="panel-body">
                <header class="text-left">
                    <div class="comment-user pull-left"><i class="fa fa-user"></i> {[ comment.publisher.name ]}</div>
                    <div class="dropdown pull-right" ng-show="{[ comment.publisher.id == loggedUser.id && comment.publisher.email == loggedUser.email ]}">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" style="padding: 0 !important;"
                                data-toggle="dropdown" aria-expanded="true"><i class="fa fa-gear"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" ng-click="editing=true;">Editar</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" ng-click="deleteFn(comment);">Remover</a>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {[ comment.creation ]}</time>
                </header>
                <div class="comment-post">
                    <div class="has-feedback" ng-class="{'has-error': errors.content}">
                        <p ng-show="!editing;">{[ comment.content ]}</p>
                        <textarea class="form-control" ng-model="comment.content" ng-show="editing" style="width: 100% !important;" rows="3">{[ comment.content ]}</textarea>
                    </div>
                </div>
                <p class="text-right">
                    <span class="pull-left" style="color: red;" ng-show="editing;">{[ errors.content ]}</span>
                    <button class="btn btn-default btn-sm edit-btn-clicked" ng-show="editing;" ng-click="editing=false;"><i class="fa fa-reply"></i> Cancelar</button>
                    <button class="btn btn-default btn-sm" ng-click="updateFn(comment);" ng-show="editing;"><i class="fa fa-reply"></i> Confirmar</button>
                </p>
            </div>
        </div>
    </div>
</article>