{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header col-md-offset-2">
            <h1>
                Tópicos relacionados a {{ category }}
            </h1>
            <ol class="breadcrumb">
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Página inicial</a></li>
            </ol>
        </section>

        <section class="content content-min">
            <div class="row">
                <section class="col-md-8 col-md-offset-2">
                    {% for topic in topics %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ topic['title'] or topic['name'] }}</h3>
                            </div>
                            <div class="publisher">
                                <img src="/static/dist/img/user2-160x160.jpg">
                                <span style="padding-left: 10px;"><b>Fulano de tal</b></span>
                                <span class="pull-right" style="padding-right: 20px;">{{ topic['creation'] }}</span>
                            </div>
                            <div class="panel-body">
{#                                {% if topic['type'] == "discusses" %}#}
                                    {% if topic.get('image') %}
                                    <div class="col-md-3 col-sm-3">
                                        <img src="{{ topic['image'] }}" style="width: 100%; max-height: 250px;">
                                    </div>
                                    <div class="col-md-9">
                                        {{ topic['content'] }}
                                    </div>
                                    {% else %}
                                    <div class="col-md-12">
                                        {{ topic['content'] }}
                                    </div>
                                    {% endif %}
{#                                {% endif %}#}
                                <div class="col-md-12">
                                    <a href="/discuss/{{ topic.get('key') }}" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Ver discussão</a>
                                    <a href="#" id="recommend_btn" class="btn btn-link pull-right"><i class="fa fa-fire margin-icon"></i>Recomendar</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Who Invented the Computer Virus?</h3>
                            </div>
                            <div class="publisher">
                                <img src="/static/dist/img/user2-160x160.jpg">
                                <span style="padding-left: 10px;"><b>Fulano de tal</b></span>
                                <span class="pull-right" style="padding-right: 20px;">Há 5 dias</span>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-3 col-sm-3">
                                    <img src="/static/img/python.jpg" style="width: 100%; max-height: 250px;">
                                </div>
                                <div class="col-md-9">
                                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat?..."
                                </div>
                                <div class="col-md-12">
                                    <a href="/discusses" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Ver discussão</a>
                                    <a href="#" id="recommend_btn" class="btn btn-link pull-right"><i class="fa fa-fire margin-icon"></i>Recomendar</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </section>
    </div><!-- /.content-wrapper -->
    <!--pac.zscaler.net/centropaulasouza.sp.gov.br/cpsouza.pac-->
{% endblock %}