<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Compartilhe ideias, conhecimentos e opniões sobre um assunto</h4>
    </div>
    <div class="modal-body">
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Título" ng-model="discuss.title" name="title">
            </div>
            <div class="form-group has-feedback">
                <textarea class="form-control" rows="3" ng-model="discuss.content" name="content" placeholder="Conteúdo"></textarea>
            </div>
            <div class="form-group has-feedback">
                <input type="file" class="filestyle" onchange="angular.element(this).scope().filesChanged(this)" accept="image/*" data-buttonText="Procurar" data-disabled="false">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" ng-click="publish();">Enviar</button>
        </div>
    </div>
</div>