<div class="col-md-12">
    <div class="form-group has-feedback" ng-class="{'has-error': errors.name}">
        <textarea class="form-control" ng-model="question.name" rows="3" placeholder="O que deseja perguntar?"></textarea>
    </div>

    <span class="help-inline" style="color: red;" >{[ errors.name ]}</span>

    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fechar</button>
    <button type="button" class="btn btn-primary pull-right" ng-click="publish()">Enviar</button>
</div>