
{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{#{% block body_class %}#}
{#sidebar-collapse sidebar-open#}
{#{% endblock %}#}

{% block js %}
    <script>
        $(document).ready(function(){
            var slugify = function(str) {
                str = str.replace(/^\s+|\s+$/g, ''); // trim
                str = str.toLowerCase();

                // remove accents, swap ñ for n, etc
                var from = "ãàáäâẽèéëêìíïîõòóöôùúüûñç·/_,:;";
                var to   = "aaaaaeeeeeiiiiooooouuuunc------";
                for (var i=0, l=from.length ; i<l ; i++) {
                    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
                }

                str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
                        .replace(/\s+/g, '-') // collapse whitespace and replace by -
                        .replace(/-+/g, '-'); // collapse dashes

                return str;
            };

            $("#nameInput").on('input', function() {
                $("#slugInput").val(slugify($(this).val()));
            });

            var $modalInputName = $("#modal-input-name");
            var $modalInputSlug = $("#modal-input-slug");
            var $categoryForm = $("#category-form");

            var $categoryFormNew = $("#categoryForm");
            var $inputHidd = $("#input-hidd");
            var $row = null;
            var $tds = null;
            var $ajaxNew = $("#ajax-save-new");

            $ajaxNew.hide();

            var $ajaxCategory = $("#ajax-category");
            $($ajaxCategory).hide();

            $($modalInputName).on('input', function() {
                $($modalInputSlug).val(slugify($(this).val()));
            });

            $(".edit-btn-class").click(function() {
                $row = $(this).closest("tr");    // Find the row
                $tds = $row.find("td");
                $modalInputName.val($.trim($($tds[0]).text()));
                $modalInputSlug.val($.trim($($tds[1]).text()));
                var $hidd = $($tds[1]).find("input[type=hidden]").val();
                $($inputHidd).val($hidd);

            });

            $(".call-to-delete").click(function(){
                $row = $(this).closest("tr");    // Find the row
                $tds = $row.find("td");
                var $hidd = $($tds[1]).find("input[type=hidden]").val();
                $.ajax({
                    url: "/categorys/rest/delete/" + $hidd,
                    method: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        console.log(data);
                        $row.fadeOut(400, function(){
                            $row.remove();
                        });
                    }
                });
            });

            $($categoryForm).submit(function(e){
                e.preventDefault();
                $($ajaxCategory).show();
                $.ajax({
                    url: "/categorys/rest/edit/" + $($inputHidd).val(),
                    method: "POST",
                    data: {name: $($modalInputName).val(), slug: $($modalInputSlug).val()},
                    dataType: "JSON",
                    success: function(data) {
                        console.log(data);
                        $($ajaxCategory).hide();
                        $($tds[0]).text(data.name);
                        $($tds[1]).text(data.slug);
                        $("#btn-category-close").click();
                    },
                    error: function(e) {
                        alert("Error");
                        console.log(e);
                        $($ajaxCategory).hide();
                    }
                });
            });

            $($categoryFormNew).submit(function(e) {
                var nameInput = $("#nameInput");
                var slugInput = $("#slugInput");
                var saveButton = $("#submit-new");
                e.preventDefault();
                $ajaxNew.show();
                $(saveButton).prop("disabled", true);
                nameInput.parent().removeClass("has-error");
                $.ajax({
                    url: "/categorys/rest/new",
                    method: "POST",
                    data: {name: nameInput.val(), slug: slugInput.val()},
                    dataType: "JSON",
                    success: function(data) {
                        console.log(data);
                        $ajaxNew.hide();
                        $(saveButton).prop("disabled", false);
                        if (data.id) {
                            var table = $("#categoryTable").find('tbody');
                            var line = $('<tr>');
                            $(line).append($('<td>').text(data.name));
                            var col = $('<td>');
                            col.text(data.slug);
                            col.append("<input type='hidden' value='"+ data.id +"'>");
                            $(line).append(col);
                            $(line).append($("<td>").text(data.creation));
                            $(line).append($("<td>").append('<button class="btn btn-danger btn-sm call-to-delete"><i class="glyphicon glyphicon-trash"></i></button> <a href="#" class="dropdown-toggle edit-btn-class" data-toggle="modal" data-target="#category-modal"><button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-edit"></i></button></a>'));
                            $(table).append(line);
                        }
                    },
                    error: function(e) {
{#                        alert("Error");#}
                        $ajaxNew.hide();
                        nameInput.val("");
                        slugInput.val("");
                        nameInput.parent().addClass("has-error");
                        $(saveButton).prop("disabled", false);
                        console.log(e);
                    }
                });
{#                return false;#}
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="content-wrapper">

        <div class="modal fade" id="category-modal" tabindex="-1" role="dialog" aria-labelledby="category-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Alteração de Categoria</h4>
                    </div>
                    <div class="modal-body" id="bod">
                        <form method="post" id="category-form">
                            <input type="hidden" id="input-hidd" name="id" />
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" id="modal-input-name" placeholder="Nome da categoria" name="name">
                            </div>
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" id="modal-input-slug" placeholder="Slug" name="slug" readonly>
                            </div>
                            <button type="button" id="btn-category-close" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <input type="submit" class="btn btn-primary" value="Enviar"/>
                            <img src="/static/img/ajax.gif" id="ajax-category"/>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-dialog -->
        </div>

        <!-- News Content -->
        <section class="content-header">
            <h1>
                Categorias
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
                <li class="active">Categorias</li>
            </ol>
        </section>

        <section class="content content-min">
            <div class="row">
                <div class="hidden-xs hidden-sm" style="height: 20px !important;"></div>
                <section class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <div class="well">
                            <h4 class="text-center">Nova categoria</h4>
                            <form class="form-inline" action="{{ save_path }}" method="post" id="categoryForm">
                                {{ csrf_input() }}
                                <div class="form-group {{ 'has-error' if errors.name }}">
                                    <label for="nameInput">Categoria</label>
                                    <input type="text" class="form-control" id="nameInput" placeholder="Categoria" name="name">
                                    {% if errors %}<span class="help-block">{{ errors.name }}</span>{% endif %}
                                </div>
                                <div class="form-group {{ 'has-error' if errors.slug }}">
                                    <label for="slugInput">Slug</label>
                                    <input type="text" class="form-control" id="slugInput" name="slug" readonly>
                                    {% if errors %}<span class="help-block">{{ errors.name }}</span>{% endif %}
                                </div>
                                <button type="submit" class="btn btn-success" id="submit-new">Salvar</button>
                                <img src="/static/img/ajax.gif" id="ajax-save-new"/>
                            </form>
                        </div>
                    </div>

                    <table id="categoryTable" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Categoria
                            </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Browser: activate to sort column ascending">Slug
                            </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="CSS grade: activate to sort column ascending">Data
                            </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="CSS grade: activate to sort column ascending">Operações
                            </th>
                        </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for c in categorys %}
                            <tr class="odd">
                                <td class="col-md-3">{{ c.name }}</td>
                                <td class="col-md-3">
                                    {{ c.slug }}
                                    <input type="hidden" value="{{ c.id }}"/>
                                </td>
                                <td class="col-md-3">
                                    {{ c.creation }}
                                </td>
                                <td class="col-md-3">
{#                                    <form action="{{ c.delete_path }}" method="post" style="display: inline !important;">#}
{#                                        {{ csrf_input() }}#}
                                        <button class="btn btn-danger btn-sm call-to-delete"><i
                                            class="glyphicon glyphicon-trash"></i></button>
{#                                    </form>#}
                                    <a href="#" class="dropdown-toggle edit-btn-class" data-toggle="modal" data-target="#category-modal">
                                        <button class="btn btn-success btn-sm">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% else %}
                            <tr class="odd">
                                <td class="col-md-12" colspan="3">Nenhuma categoria cadastrada</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div> <!-- div content-wrapper -->
{% endblock %}