{% extends 'base/base.html' %}

{#{% block ngApp %}#}
{#    ng-app="profileApp"#}
{#{% endblock %}#}

{% block css %}
    <style>
        .sides-margin {
            margin-left: -20px !important;
            margin-right: -20px !important;
        }

        .no-margin {
            margin: 0 !important;
        }

        .thumbnail {
        {#            margin-top: 18px !important;#}
        }

        .caption {
            padding-left: 6px !important;
            padding-right: 9px !important;
            padding-top: 3px !important;
        }

        .progress {
            height: 10px !important;
        }

        .recent-activity {
            width: 40px !important;
        }

        .panel-title {

            font-size: 15px !important;
        }
    </style>
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{% block body_class %} sidebar-collapse sidebar-open {% endblock %}

{% block js %}
    <script src="/static/profiles/js/profile.js"></script>
    <script>
        angular.module('mainApp').requires.push('profileModule');

        function profileController($scope, $http) {
            $scope.profile = {{ profile|safe }};
            $scope.loggedUser = {{ user|safe or {} }};
            $scope.postUrl = "{{ new_profile_path }}";
        }
    </script>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content content-min" ng-controller="profileController">
            <profile logged-user="loggedUser" profile="profile" post-url="postUrl"></profile>
        </section>
    </div>
{% endblock %}