{% extends 'base/base.html' %}

{% block css %}
    <style>
        .sides-margin {
            margin-left: -20px !important;
            margin-right: -20px !important;
        }

        .no-margin {
            margin: 0 !important;
        }

        .thumbnail {
{#            margin-top: 18px !important;#}
        }

        .caption {
            padding-left: 6px !important;
            padding-right: 9px !important;
            padding-top: 3px !important;
        }

        .progress {
            height: 10px !important;
        }

        .recent-activity {
            width: 40px !important;
        }
    </style>
{% endblock %}

{% block body_class %} sidebar-collapse sidebar-open {% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content content-min">
            <div class="row sides-margin">{#style="background-color: red !important;"#}
                <section class="col-xs-9 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-1" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail box">
                                <img src="/static/dist/img/user2-160x160.jpg" alt=""/>
                                <div class="caption">
                                    <h4>Fulano</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 box">
                                <h4>Informações Pessoais</h4>
                                <span class="span">Cargo: <small>Desenvolvedor</small></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4>AAAAA</h4>
                            <p class="no-margin">Questões</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                            <p class="no-margin">Publicações</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> <!-- End profile section -->
                <section class="col-sm-12 col-xs-12 col-md-8 col-lg-8" >
                    <div class="row">
                        <div class="content-header">
                            <h4>Atividades Recentes</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="/static/dist/img/user2-160x160.jpg" class="media-object recent-activity" alt="Sample Image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Fulano <small><i>comentou em "Lorem Ipsum" 10 de Janeiro de 2014</i></small></h4>
                                    <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
                                </div>
                            </div>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="/static/dist/img/user2-160x160.jpg" class="media-object recent-activity" alt="Sample Image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Fulano <small><i>fez uma pergunta em 20 de Janeiro de 2014</i></small></h4>
                                    <p>Lorem ipsum ipsi?</p>
                                </div>
                            </div>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="/static/dist/img/user2-160x160.jpg" class="media-object recent-activity" alt="Sample Image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Fulano <small><i>comentou em "Lorem Ipsum" 10 de Janeiro de 2014</i></small></h4>
                                    <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
                                </div>
                            </div>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="/static/dist/img/user2-160x160.jpg" class="media-object recent-activity" alt="Sample Image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Fulano <small><i>comentou em "Lorem Ipsum" 10 de Janeiro de 2014</i></small></h4>
                                    <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
                                </div>
                            </div>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="/static/dist/img/user2-160x160.jpg" class="media-object recent-activity" alt="Sample Image">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Fulano <small><i>comentou em "Lorem Ipsum" 10 de Janeiro de 2014</i></small></h4>
                                    <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> <!-- End center section -->
            </div> <!-- End row -->
        </section> <!-- End content section -->
    </div> <!-- End wrapper -->
{% endblock %}