{% extends 'base/base.html' %}

{#{% block ngApp %}#}
{#    ng-app="profileApp"#}
{#{% endblock %}#}

{% block css %}
    <style>
        .sides-margin {
            margin-left: -20px !important;
            margin-right: -20px !important;
        }

        .no-margin {
            margin: 0 !important;
        }

        .thumbnail {
        {#            margin-top: 18px !important;#}
        }

        .caption {
            padding-left: 6px !important;
            padding-right: 9px !important;
            padding-top: 3px !important;
        }

        .progress {
            height: 10px !important;
        }

        .recent-activity {
            width: 40px !important;
        }

        .panel-title {

            font-size: 15px !important;
        }
    </style>
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{% block body_class %} sidebar-collapse sidebar-open {% endblock %}

{% block js %}
    <script>
        {#        angular.module('mainApp').requires.push('profileModule');#}

        function profileController($scope, $http) {
            $scope.profile = {{ profile|safe }};
            $scope.loggedUser = {{ user|safe or {} }};
            $scope.submitting = false;
            $scope.editing = false;
            $scope.errors = {};

            $scope.changeToEdit = function() {
                $scope.editing = true;
                $scope.newProfile = JSON.parse(JSON.stringify($scope.profile));
                console.log($scope.newProfile);
            };

            $scope.submitEdit = function(newProfile) {
                console.log(newProfile);
                $scope.submitting = true;
                $http.post("{{ new_profile_path }}", newProfile).success(function(data){
                    console.log("FOI");
                    console.log(data);
                    $scope.profile = data;
                    $scope.editing = false;
                }).error(function(e){
                    console.log("NUM FOI");
                    console.log(e);
                    $scope.errors = e;
                    if (e.user)
                        alert("You must be logged");
                }).finally(function(){
                    $scope.submitting = false;
                });
            }
        }
    </script>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content content-min" ng-controller="profileController">
            <div class="row sides-margin">
                <section class="col-xs-9 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail box">
                                <img ng-src="{[ profile.avatar || '/static/img/user-no-image.png' ]}" alt=""/>

                                <div class="caption">
                                    <h4 style="font-size: 15px !important;">{[ loggedUser.name || "asdas" ]}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="display: inline-block !important;">
                                        Compartilhamento</h3>
                                </div>
                                <div class="panel-body">
                                    <p class="no-margin">Posição: <span class="label label-default pull-right">2ª</span>
                                    </p>

                                    <p class="no-margin">Pontução: <span
                                            class="label label-default pull-right">10002</span>
                                    </p>

                                    <p class="no-margin">Questões</p>

                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                             role="progressbar"
                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                    <p class="no-margin">Comentários</p>

                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                             role="progressbar"
                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 50%">
                                            <span class="sr-only">30% Complete</span>
                                        </div>
                                    </div>
                                    <p class="no-margin">Publicações</p>

                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                             role="progressbar"
                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                    <div style="padding-bottom: 5px !important;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 ng-hide="editing" class="panel-title" style="display: inline-block !important;">
                                        Informações Pessoais</h3>

                                    <div style="display: inline-block;" class="pull-right">
                                        <div class="dropdown pull-right"
                                             ng-show="{[ profile.user.id == loggedUser.id && profile.user.email == loggedUser.email ]}">
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="dropdownMenu1" style="padding: 0 !important;"
                                                    data-toggle="dropdown" aria-expanded="true"><i
                                                    class="fa fa-gear"></i>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" ng-click="changeToEdit()">Editar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>Email:
                                        <small>{[ loggedUser.email || "Não Preenchido"]}</small>
                                    </p>
                                    <div class="form-group" ng-class="{'has-error': errors.education}">
                                        <span>Escolaridade: <small ng-show="!editing">{[ profile.education || "Não Preenchido" ]}</small></span>
                                        <input type="text" class="form-control" ng-show="editing" ng-model="newProfile.education"/>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': errors.position}">
                                        <span>Cargo: <small ng-show="!editing">{[ profile.position || "Não Preenchido" ]}</small></span>
                                        <input type="text" class="form-control" ng-show="editing" ng-model="newProfile.position"/>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': errors.about}">
                                        <span style="padding-bottom: 13px !important;">
                                            Sobre mim:
                                            <small ng-show="!editing">{[ profile.about || "Não Preenchido" ]}</small>
                                        </span>
                                        <textarea class="form-control" ng-show="editing" ng-model="newProfile.about" rows="5" style="width: 100% !important;"></textarea>
                                    </div>


                                    <div class="form-group" ng-show="editing">
                                        <button ng-click="editing=false;" class="btn btn-default pull-right" style="margin-left: 10px;">Cancelar</button>
                                        <button ng-click="submitEdit(newProfile)" class="btn btn-primary pull-right">Salvar</button>
                                        <img ng-show="submitting" style="margin: 10px;" src="/static/img/ajax.gif" class="pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 ng-hide="editing" class="panel-title" style="display: inline-block !important;">
                                        Atividades Recentes</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            <img src="/static/dist/img/user2-160x160.jpg"
                                                 class="media-object recent-activity"
                                                 alt="Sample Image">
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading">Fulano
                                                <small><i>comentou em "Lorem Ipsum" 10 de Janeiro de 2014</i></small>
                                            </h4>
                                            <p>Excellent feature! I love it. One day I'm definitely going to put this
                                                Bootstrap
                                                component
                                                into use and I'll let you know once I do.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            <img src="/static/dist/img/user2-160x160.jpg"
                                                 class="media-object recent-activity"
                                                 alt="Sample Image">
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading">Fulano
                                                <small><i>fez uma pergunta em 20 de Janeiro de 2014</i></small>
                                            </h4>
                                            <p>Lorem ipsum ipsi?</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            <img src="/static/dist/img/user2-160x160.jpg"
                                                 class="media-object recent-activity"
                                                 alt="Sample Image">
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading">Fulano
                                                <small><i>comentou em "Lorem Ipsum" 10 de Janeiro de 2014</i></small>
                                            </h4>
                                            <p>Excellent feature! I love it. One day I'm definitely going to put this
                                                Bootstrap
                                                component
                                                into use and I'll let you know once I do.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            <img src="/static/dist/img/user2-160x160.jpg"
                                                 class="media-object recent-activity"
                                                 alt="Sample Image">
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading">Fulano
                                                <small><i>comentou em "Lorem Ipsum" 10 de Janeiro de 2014</i></small>
                                            </h4>
                                            <p>Excellent feature! I love it. One day I'm definitely going to put this
                                                Bootstrap
                                                component
                                                into use and I'll let you know once I do.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            <img src="/static/dist/img/user2-160x160.jpg"
                                                 class="media-object recent-activity"
                                                 alt="Sample Image">
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading">Fulano
                                                <small><i>comentou em "Lorem Ipsum" 10 de Janeiro de 2014</i></small>
                                            </h4>
                                            <p>Excellent feature! I love it. One day I'm definitely going to put this
                                                Bootstrap
                                                component
                                                into use and I'll let you know once I do.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
{% endblock %}