{% extends 'base/base.html' %}
{% block body %}
    <div class="content-wrapper">
        <section class="content">
            <br/>
            <h1 class="text-center">{% trans %}Login Options{% endtrans %}</h1>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="well">
                        <h2>Email</h2><br/>
                        <form action="{{ login_passwordless_path }}" method="post">
                            <div class="input-group">
                                <input type="email" name="email" placeholder="{% trans %}Type your email{% endtrans %}"
                                       class="form-control"/>
                                  <span class="input-group-btn">
                                       <button class="btn btn-success" type="submit">Login</button>
                                  </span>
                            </div>
                            {{ csrf_input() }}
                        </form>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="well">
                        <h2>Google</h2><br/>
                        <a href="{{ login_google_path }}" class="btn btn-social btn-google-plus"><i
                                class="fa fa-google-plus"></i>Google</a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="well">
                        <h2>Facebook</h2><br/>
                        <button class="btn btn-social btn-facebook" onclick="fb_login();">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </button>
                        <form id="fbform" action="{{ login_facebook_path }}" method="post">
                            {{ csrf_input() }}
                            <input id="tokeninput" type="hidden" name="token"/>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {# see https://developers.facebook.com/docs/facebook-login/login-flow-for-web/v2.0#}
{% endblock %}