{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{% block js %}
    <script charset="UTF-8">
        function listDiscussController($scope) {
            $scope.discusses = {{ discusses|safe or [] }};
            $scope.loggedUser = {
                id: {{ _logged_user.key.id() or "" }},
                email: "{{ _logged_user.email or '' }}"
            };
        }

        function commentController($scope, $window, $http) {
            $scope.searching = true;
            $http.get('{{ list_comment_path or "/comments/rest/%s" % discuss['id'] }}').success(function(data){
                $scope.commentList = data;
            }).error(function(e){
                $scope.commentList = [];
            }).finally(function(f){
                $scope.searching = false;
            });
            $scope.comment = {post: {{ discuss['id'] }}, type: "D"};
{#            $scope.commentList = {{ comments|safe }};#}
            $scope.loggedUser = {
                id: {{ _logged_user.key.id() }},
                email: "{{ _logged_user.email }}"
            };
            angular.element($window).bind("scroll", function() {
                var windowHeight = "innerHeight" in window ? window.innerHeight : document.documentElement.offsetHeight;
                var body = document.body, html = document.documentElement;
                var docHeight = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight,  html.scrollHeight, html.offsetHeight);
                windowBottom = windowHeight + window.pageYOffset;
                if (windowBottom >= docHeight) {
                    console.log("baixando");
{#                    $http.post("{{ comment_list }}", {}).success(function(data){#}
{#                        console.log(data);#}
{#                        $scope.commentList = data;#}
{#                        $scope.$apply('usercomment');#}
{#                    });#}
                }
            });

            removeComment = function() {
                console.log("Parent");
            }
        }
    </script>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header">
            <h1>

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
                <li class="active">Discussões</li>
            </ol>
        </section>

        <section class="content content-min">
            <div class="row">
                <section class="col-md-8 col-md-offset-2" ng-controller="commentController">
                    <div ng-controller="listDiscussController">
                        <discuss ng-repeat="d in discusses" discuss="d" logged-user="loggedUser" discusses="discusses"></discuss>
                    </div>

                    <div class="col-md-12 panel">
                        <docomment comment="comment" post-url="{{ comment_url }}" comment-list="commentList"></docomment>
                    </div>

                    <div class="col-md-12">
                        <h2 class="page-header">Comentários</h2>
                        <section class="comment-list">
                            <img src="/static/img/ajax.gif" ng-show="searching">
                            <usercomment ng-repeat="c in commentList" comment="c" logged-user="loggedUser" comment-list="commentList"></usercomment>
                        </section>
                    </div>
                </section>
            </div>
        </section>
    </div> <!-- div content-wrapper -->
{% endblock %}