{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{% block body_class %}
sidebar-collapse sidebar-open
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header">
            <h1>

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Search</li>
            </ol>
        </section>

        <section class="content content-min">
            <div class="row">
                <section class="col-md-8 col-md-offset-2">
                    {% if discusses %}
                        {% for discuss in discusses %}
                        <div class="nav-tabs-custom">
                            <!-- Tabs within a box -->
                            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                <li class="pull-left header padding-bottom">{{ discuss['title'] }}?</li>
                            </ul>
                            <div class="publisher">
                                <img src="/static/dist/img/user2-160x160.jpg">
                                <span style="padding-left: 10px;"><b>Fulano de tal</b></span>
                                <span class="pull-right" style="padding-right: 20px;">{{ formalize_time(discuss['creation']) }}</span>
                            </div>
                            <div class="tab-content">
                                {% if discuss.get('image') %}
                                <div class="col-md-3 col-sm-3">
                                    <img src="{{ discuss['image'] }}" style="width: 100%; max-height: 250px;">
                                </div>
                                <div class="col-md-9">
                                {% else %}
                                <div class="col-md-12">
                                {% endif %}
                                {{ discuss['content'] }}
                                </div>
                                <div class="box-footer clearfix no-border">
                                    <a href="#" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Responder</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </section>
            </div>
        </section>
    </div> <!-- div content-wrapper -->
{% endblock %}