
{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{#{% block body_class %}#}
{#sidebar-collapse sidebar-open#}
{#{% endblock %}#}

{% block js %}
    <script>
        function listDiscussController($scope) {
            $scope.discusses = {{ discusses|safe or [] }};
            $scope.loggedUser = {
                id: {{ _logged_user.key.id() or "" }},
                email: "{{ _logged_user.email or '' }}"
            };
        }
    </script>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header">
            <h1>

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
                <li class="active">Discussões</li>
            </ol>
        </section>

        <section class="content content-min">
            <div class="row">
                <div class="hidden-xs hidden-sm" style="height: 20px !important;"></div>
                <section class="col-md-8 col-md-offset-2">
                    <div ng-controller="listDiscussController">
                        <discuss ng-repeat="d in discusses" discuss="d" logged-user="loggedUser" discusses="discusses"></discuss>
                    </div>
                </section>
            </div>
        </section>
    </div> <!-- div content-wrapper -->
{% endblock %}