{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/default.css"/>
{% endblock %}

{% block body_class %} sidebar-collapse sidebar-open {% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- News Content -->
        <section class="content-header">
            <h1>
                Procure por discussões e publicações
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Search</li>
            </ol>
        </section>

        <section class="content content-min">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form action="#" method="get" class="form-row">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search anything" data-provide="typeahead"/>
                            <span class="input-group-btn">
                                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-10 col-md-offset-1 force-margin">
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right ui-sortable-handle">
                            <li class="pull-left header padding-bottom">Quais os principais assuntos no tutorship portal?</li>
                        </ul>
                        <div class="publisher">
                            <img src="/static/dist/img/user2-160x160.jpg">
                            <span style="padding-left: 10px;"><b>Fulano de tal</b></span>
                            <span class="pull-right" style="padding-right: 20px;">Há 7 dia</span>
                        </div>
                        <div class="tab-content">
                            <div class="col-md-3 col-sm-3">
                                <img src="/static/img/python.jpg" style="width: 100%; max-height: 250px;">
                            </div>
                            <div class="col-md-9">
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat?..."
                            </div>
                            <div class="box-footer clearfix no-border">
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Responder</a>
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Ver discussão</a>
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-fire margin-icon"></i>Recomendar</a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right ui-sortable-handle">
                            <li class="pull-left header padding-bottom">Quais os principais assuntos no tutorship portal?</li>
                        </ul>
                        <div class="publisher">
                            <img src="/static/dist/img/user2-160x160.jpg">
                            <span style="padding-left: 10px;"><b>Fulano de tal</b></span>
                            <span class="pull-right" style="padding-right: 20px;">Há 7 dia</span>
                        </div>
                        <div class="tab-content">
                            <div class="col-md-3 col-sm-3">
                                <img src="/static/img/python.jpg" style="width: 100%; max-height: 250px;">
                            </div>
                            <div class="col-md-9">
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat?..."
                            </div>
                            <div class="box-footer clearfix no-border">
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Responder</a>
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Ver discussão</a>
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-fire margin-icon"></i>Recomendar</a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right ui-sortable-handle">
                            <li class="pull-left header padding-bottom">Quais os principais assuntos no tutorship portal?</li>
                        </ul>
                        <div class="publisher">
                            <img src="/static/dist/img/user2-160x160.jpg">
                            <span style="padding-left: 10px;"><b>Fulano de tal</b></span>
                            <span class="pull-right" style="padding-right: 20px;">Há 7 dia</span>
                        </div>
                        <div class="tab-content">
                            <div class="col-md-3 col-sm-3">
                                <img src="/static/img/python.jpg" style="width: 100%; max-height: 250px;">
                            </div>
                            <div class="col-md-9">
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat?..."
                            </div>
                            <div class="box-footer clearfix no-border">
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Responder</a>
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Ver discussão</a>
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-fire margin-icon"></i>Recomendar</a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right ui-sortable-handle">
                            <li class="pull-left header padding-bottom">Quais os principais assuntos no tutorship portal?</li>
                        </ul>
                        <div class="publisher">
                            <img src="/static/dist/img/user2-160x160.jpg">
                            <span style="padding-left: 10px;"><b>Fulano de tal</b></span>
                            <span class="pull-right" style="padding-right: 20px;">Há 7 dia</span>
                        </div>
                        <div class="tab-content">
                            <div class="col-md-3 col-sm-3">
                                <img src="/static/img/python.jpg" style="width: 100%; max-height: 250px;">
                            </div>
                            <div class="col-md-9">
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat?..."
                            </div>
                            <div class="box-footer clearfix no-border">
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Responder</a>
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-comment margin-icon"></i>Ver discussão</a>
                                <a href="#" class="btn btn-link pull-right"><i class="fa fa-fire margin-icon"></i>Recomendar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> <!-- div content-wrapper -->
{% endblock %}